.footer {
  color: #fafafa;
  padding: 40px 0;
  background-color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  .footerLink {
    text-decoration: none;
    color: pink;
  }
}